* {
	box-sizing: border-box;
	/* principal font*/
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;

}

:root {
	/*variables*/
	--foreground: #0d0d0d;
	--background: #f1f5f9;
	--nav-color: #eeddcc;

}


html {
	background-color: var(--background);
	text-align: center;
}

body {
	margin: 0 auto;
	width: 100%;
	padding: 1rem;
	line-height: 1.5;
}

header {
	width: 100vw;
	background: var(--nav-color);
}

header div {
	display: flex;
	justify-content: space-evenly;
	gap: 15px;
	padding: 2rem;
}

h1 {
	font-family: "Cormorant Garamond", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-size: 2.5rem;
	margin: 1rem 0;
}





a:link {
	text-decoration: none;
}

ul {
	text-align: left;
}

footer {
	display: flex;
	gap: 1rem;
	margin-top: 2rem;
	align-items: center;
	justify-content: space-between;
}

footer a {
	padding: 0.5rem 1rem;
	color: white;
	background-color: #4c1d95;
	text-decoration: none;
}

/* nav styles */
.menu {
	background-color: #0d0950;
	border: none;
	color: #fff;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 5px 10px;
}

.nav-links {
	width: 100%;
	display: none;
	margin: 0;
}

.nav-links a {
	display: block;
	padding: 10px 0;
	text-decoration: none;
	font-size: 1.1rem;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--foreground);
	border-radius: 5px;
}

.nav-links a:hover,
.nav-links a:focus {
	background-color: #ff9776;
}

:has(.menu[aria-expanded="true"]) .nav-links {
	display: unset;
}

#themeToggle {
	border: 0;
	background: none;
}

.sun {
	fill: black;
}

.moon {
	fill: transparent;
}

:global(.dark) .sun {
	fill: transparent;
}

:global(.dark) .moon {
	fill: white;
}

#themeToggle:hover {
	cursor: pointer;
	box-shadow: 0 0 1px 1px mediumpurple;
}


@media screen and (min-width: 636px) {
	.nav-links {
		margin-left: 5em;
		display: block;
		position: static;
		width: auto;
	}

	.nav-links a {
		display: inline;
		padding: 15px 20px;
	}

	.menu {
		display: none;
	}

}
