---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "Parroquia San Isidro Labrador";


---
<BaseLayout pageTitle={pageTitle}>
	<main>
		<div class="hero-section">

		</div>
		<article>
			<section class="">
				<h2>Nuestra Iglesia</h2>
				<p>Conoce La Historia de nuestra iglesia!</p>
				<a href="/about/">Ver Nuestra Iglesia</a>
			</section>
			<section class="">
				<h2>Informaci칩n y horarios</h2>
				<p>Revisa los horarios de misa, eventos, Conmemoraciones locales y m치s!</p>
				<a href="/blog/">ver informaci칩n y horarios</a>
			</section>
			<section class="">
				<h2>Novedades</h2>
				<p>Mantente pendiente de lo Nuevo en la iglesia!</p>
				<a href="/novedades/">Ver Novedades</a>
			</section>
			<section class="">
				<h2>Contactanos</h2>
				<p>Obten informaci칩n de contacto con nuestra iglesia!</p>
				<a href="/contactanos/"> Ir a Contactanos</a>
			</section>
		</article>
	</main>
</BaseLayout>
