---
---
	<div id="main-menu" class="nav-links">
		<a href="/">Inicio</a>
		<a href="/about/">Nuestra Iglesia</a>
		<a href="/blog/">Información y Horarios </a>
		<a href="/novedades/">Novedades </a>
		<a href="/contactanos/">Contáctanos </a>
	</div>
